UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/153a6b99-ad84-4488-afe9-ec87b4676d28.png' WHERE main_image = '153a6b99-ad84-4488-afe9-ec87b4676d28.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/153a6b99-ad84-4488-afe9-ec87b4676d28.png' WHERE sub_image_1 = '153a6b99-ad84-4488-afe9-ec87b4676d28.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/153a6b99-ad84-4488-afe9-ec87b4676d28.png' WHERE sub_image_2 = '153a6b99-ad84-4488-afe9-ec87b4676d28.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/153a6b99-ad84-4488-afe9-ec87b4676d28.png' WHERE sub_image_3 = '153a6b99-ad84-4488-afe9-ec87b4676d28.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527.jpg' WHERE main_image = '20250923_145527.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527.jpg' WHERE sub_image_1 = '20250923_145527.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527.jpg' WHERE sub_image_2 = '20250923_145527.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527.jpg' WHERE sub_image_3 = '20250923_145527.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_led9v12a9sv0.jpg' WHERE main_image = '20250923_145527_led9v12a9sv0.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_led9v12a9sv0.jpg' WHERE sub_image_1 = '20250923_145527_led9v12a9sv0.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_led9v12a9sv0.jpg' WHERE sub_image_2 = '20250923_145527_led9v12a9sv0.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_led9v12a9sv0.jpg' WHERE sub_image_3 = '20250923_145527_led9v12a9sv0.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_lmr3qnqwhr06.jpg' WHERE main_image = '20250923_145527_lmr3qnqwhr06.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_lmr3qnqwhr06.jpg' WHERE sub_image_1 = '20250923_145527_lmr3qnqwhr06.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_lmr3qnqwhr06.jpg' WHERE sub_image_2 = '20250923_145527_lmr3qnqwhr06.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_lmr3qnqwhr06.jpg' WHERE sub_image_3 = '20250923_145527_lmr3qnqwhr06.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_wru9sm3cxc7.jpg' WHERE main_image = '20250923_145527_wru9sm3cxc7.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_wru9sm3cxc7.jpg' WHERE sub_image_1 = '20250923_145527_wru9sm3cxc7.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_wru9sm3cxc7.jpg' WHERE sub_image_2 = '20250923_145527_wru9sm3cxc7.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145527_wru9sm3cxc7.jpg' WHERE sub_image_3 = '20250923_145527_wru9sm3cxc7.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145534.jpg' WHERE main_image = '20250923_145534.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145534.jpg' WHERE sub_image_1 = '20250923_145534.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145534.jpg' WHERE sub_image_2 = '20250923_145534.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_145534.jpg' WHERE sub_image_3 = '20250923_145534.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150317.jpg' WHERE main_image = '20250923_150317.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150317.jpg' WHERE sub_image_1 = '20250923_150317.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150317.jpg' WHERE sub_image_2 = '20250923_150317.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150317.jpg' WHERE sub_image_3 = '20250923_150317.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320.jpg' WHERE main_image = '20250923_150320.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320.jpg' WHERE sub_image_1 = '20250923_150320.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320.jpg' WHERE sub_image_2 = '20250923_150320.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320.jpg' WHERE sub_image_3 = '20250923_150320.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_1dkn21kfv4kuj.jpg' WHERE main_image = '20250923_150320_1dkn21kfv4kuj.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_1dkn21kfv4kuj.jpg' WHERE sub_image_1 = '20250923_150320_1dkn21kfv4kuj.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_1dkn21kfv4kuj.jpg' WHERE sub_image_2 = '20250923_150320_1dkn21kfv4kuj.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_1dkn21kfv4kuj.jpg' WHERE sub_image_3 = '20250923_150320_1dkn21kfv4kuj.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_6gscvqfq0atk.jpg' WHERE main_image = '20250923_150320_6gscvqfq0atk.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_6gscvqfq0atk.jpg' WHERE sub_image_1 = '20250923_150320_6gscvqfq0atk.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_6gscvqfq0atk.jpg' WHERE sub_image_2 = '20250923_150320_6gscvqfq0atk.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_6gscvqfq0atk.jpg' WHERE sub_image_3 = '20250923_150320_6gscvqfq0atk.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_uwa13bop22g4.jpg' WHERE main_image = '20250923_150320_uwa13bop22g4.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_uwa13bop22g4.jpg' WHERE sub_image_1 = '20250923_150320_uwa13bop22g4.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_uwa13bop22g4.jpg' WHERE sub_image_2 = '20250923_150320_uwa13bop22g4.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_uwa13bop22g4.jpg' WHERE sub_image_3 = '20250923_150320_uwa13bop22g4.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_vposzmbmymyo.jpg' WHERE main_image = '20250923_150320_vposzmbmymyo.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_vposzmbmymyo.jpg' WHERE sub_image_1 = '20250923_150320_vposzmbmymyo.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_vposzmbmymyo.jpg' WHERE sub_image_2 = '20250923_150320_vposzmbmymyo.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_150320_vposzmbmymyo.jpg' WHERE sub_image_3 = '20250923_150320_vposzmbmymyo.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_151126.jpg' WHERE main_image = '20250923_151126.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_151126.jpg' WHERE sub_image_1 = '20250923_151126.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_151126.jpg' WHERE sub_image_2 = '20250923_151126.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_151126.jpg' WHERE sub_image_3 = '20250923_151126.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_152315.jpg' WHERE main_image = '20250923_152315.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_152315.jpg' WHERE sub_image_1 = '20250923_152315.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_152315.jpg' WHERE sub_image_2 = '20250923_152315.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_152315.jpg' WHERE sub_image_3 = '20250923_152315.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153133.jpg' WHERE main_image = '20250923_153133.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153133.jpg' WHERE sub_image_1 = '20250923_153133.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153133.jpg' WHERE sub_image_2 = '20250923_153133.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153133.jpg' WHERE sub_image_3 = '20250923_153133.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137.jpg' WHERE main_image = '20250923_153137.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137.jpg' WHERE sub_image_1 = '20250923_153137.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137.jpg' WHERE sub_image_2 = '20250923_153137.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137.jpg' WHERE sub_image_3 = '20250923_153137.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137_1s1a2fj4drthw.jpg' WHERE main_image = '20250923_153137_1s1a2fj4drthw.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137_1s1a2fj4drthw.jpg' WHERE sub_image_1 = '20250923_153137_1s1a2fj4drthw.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137_1s1a2fj4drthw.jpg' WHERE sub_image_2 = '20250923_153137_1s1a2fj4drthw.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20250923_153137_1s1a2fj4drthw.jpg' WHERE sub_image_3 = '20250923_153137_1s1a2fj4drthw.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541.jpg' WHERE main_image = '20260514_150541.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541.jpg' WHERE sub_image_1 = '20260514_150541.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541.jpg' WHERE sub_image_2 = '20260514_150541.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541.jpg' WHERE sub_image_3 = '20260514_150541.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_19mxnxsrv76m7.jpg' WHERE main_image = '20260514_150541_19mxnxsrv76m7.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_19mxnxsrv76m7.jpg' WHERE sub_image_1 = '20260514_150541_19mxnxsrv76m7.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_19mxnxsrv76m7.jpg' WHERE sub_image_2 = '20260514_150541_19mxnxsrv76m7.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_19mxnxsrv76m7.jpg' WHERE sub_image_3 = '20260514_150541_19mxnxsrv76m7.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_1i3xn9fj2ugl5.jpg' WHERE main_image = '20260514_150541_1i3xn9fj2ugl5.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_1i3xn9fj2ugl5.jpg' WHERE sub_image_1 = '20260514_150541_1i3xn9fj2ugl5.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_1i3xn9fj2ugl5.jpg' WHERE sub_image_2 = '20260514_150541_1i3xn9fj2ugl5.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/20260514_150541_1i3xn9fj2ugl5.jpg' WHERE sub_image_3 = '20260514_150541_1i3xn9fj2ugl5.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png' WHERE main_image = '64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png' WHERE sub_image_1 = '64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png' WHERE sub_image_2 = '64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png' WHERE sub_image_3 = '64cab910-2b58-4089-bf3d-6a7bdfe32c0c.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/776b67fd-7847-49b5-896c-9bd3c32e55f7.png' WHERE main_image = '776b67fd-7847-49b5-896c-9bd3c32e55f7.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/776b67fd-7847-49b5-896c-9bd3c32e55f7.png' WHERE sub_image_1 = '776b67fd-7847-49b5-896c-9bd3c32e55f7.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/776b67fd-7847-49b5-896c-9bd3c32e55f7.png' WHERE sub_image_2 = '776b67fd-7847-49b5-896c-9bd3c32e55f7.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/776b67fd-7847-49b5-896c-9bd3c32e55f7.png' WHERE sub_image_3 = '776b67fd-7847-49b5-896c-9bd3c32e55f7.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/974c4f14-55c5-476b-a681-ee10edcab37e.png' WHERE main_image = '974c4f14-55c5-476b-a681-ee10edcab37e.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/974c4f14-55c5-476b-a681-ee10edcab37e.png' WHERE sub_image_1 = '974c4f14-55c5-476b-a681-ee10edcab37e.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/974c4f14-55c5-476b-a681-ee10edcab37e.png' WHERE sub_image_2 = '974c4f14-55c5-476b-a681-ee10edcab37e.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/974c4f14-55c5-476b-a681-ee10edcab37e.png' WHERE sub_image_3 = '974c4f14-55c5-476b-a681-ee10edcab37e.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/a329bdc7-046e-432b-bcc8-ff341886e2f1.png' WHERE main_image = 'a329bdc7-046e-432b-bcc8-ff341886e2f1.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/a329bdc7-046e-432b-bcc8-ff341886e2f1.png' WHERE sub_image_1 = 'a329bdc7-046e-432b-bcc8-ff341886e2f1.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/a329bdc7-046e-432b-bcc8-ff341886e2f1.png' WHERE sub_image_2 = 'a329bdc7-046e-432b-bcc8-ff341886e2f1.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/a329bdc7-046e-432b-bcc8-ff341886e2f1.png' WHERE sub_image_3 = 'a329bdc7-046e-432b-bcc8-ff341886e2f1.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2014%20mei%202026%2C%2015_18_15.png' WHERE main_image = 'ChatGPT Image 14 mei 2026, 15_18_15.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2014%20mei%202026%2C%2015_18_15.png' WHERE sub_image_1 = 'ChatGPT Image 14 mei 2026, 15_18_15.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2014%20mei%202026%2C%2015_18_15.png' WHERE sub_image_2 = 'ChatGPT Image 14 mei 2026, 15_18_15.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2014%20mei%202026%2C%2015_18_15.png' WHERE sub_image_3 = 'ChatGPT Image 14 mei 2026, 15_18_15.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2020%20mei%202026%2C%2010_05_25.png' WHERE main_image = 'ChatGPT Image 20 mei 2026, 10_05_25.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2020%20mei%202026%2C%2010_05_25.png' WHERE sub_image_1 = 'ChatGPT Image 20 mei 2026, 10_05_25.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2020%20mei%202026%2C%2010_05_25.png' WHERE sub_image_2 = 'ChatGPT Image 20 mei 2026, 10_05_25.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/ChatGPT%20Image%2020%20mei%202026%2C%2010_05_25.png' WHERE sub_image_3 = 'ChatGPT Image 20 mei 2026, 10_05_25.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie.png' WHERE main_image = 'cookie.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie.png' WHERE sub_image_1 = 'cookie.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie.png' WHERE sub_image_2 = 'cookie.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie.png' WHERE sub_image_3 = 'cookie.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie_1hwnasq5fbwfe.png' WHERE main_image = 'cookie_1hwnasq5fbwfe.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie_1hwnasq5fbwfe.png' WHERE sub_image_1 = 'cookie_1hwnasq5fbwfe.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie_1hwnasq5fbwfe.png' WHERE sub_image_2 = 'cookie_1hwnasq5fbwfe.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/cookie_1hwnasq5fbwfe.png' WHERE sub_image_3 = 'cookie_1hwnasq5fbwfe.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape.png' WHERE main_image = 'general-img-landscape.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape.png' WHERE sub_image_1 = 'general-img-landscape.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape.png' WHERE sub_image_2 = 'general-img-landscape.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape.png' WHERE sub_image_3 = 'general-img-landscape.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_19uv1apthg4df.png' WHERE main_image = 'general-img-landscape_19uv1apthg4df.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_19uv1apthg4df.png' WHERE sub_image_1 = 'general-img-landscape_19uv1apthg4df.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_19uv1apthg4df.png' WHERE sub_image_2 = 'general-img-landscape_19uv1apthg4df.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_19uv1apthg4df.png' WHERE sub_image_3 = 'general-img-landscape_19uv1apthg4df.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_1ayiu2jdnr03p.png' WHERE main_image = 'general-img-landscape_1ayiu2jdnr03p.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_1ayiu2jdnr03p.png' WHERE sub_image_1 = 'general-img-landscape_1ayiu2jdnr03p.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_1ayiu2jdnr03p.png' WHERE sub_image_2 = 'general-img-landscape_1ayiu2jdnr03p.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_1ayiu2jdnr03p.png' WHERE sub_image_3 = 'general-img-landscape_1ayiu2jdnr03p.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_4nlso4fm9w26.png' WHERE main_image = 'general-img-landscape_4nlso4fm9w26.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_4nlso4fm9w26.png' WHERE sub_image_1 = 'general-img-landscape_4nlso4fm9w26.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_4nlso4fm9w26.png' WHERE sub_image_2 = 'general-img-landscape_4nlso4fm9w26.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_4nlso4fm9w26.png' WHERE sub_image_3 = 'general-img-landscape_4nlso4fm9w26.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_e7ncfk9q9475.png' WHERE main_image = 'general-img-landscape_e7ncfk9q9475.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_e7ncfk9q9475.png' WHERE sub_image_1 = 'general-img-landscape_e7ncfk9q9475.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_e7ncfk9q9475.png' WHERE sub_image_2 = 'general-img-landscape_e7ncfk9q9475.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_e7ncfk9q9475.png' WHERE sub_image_3 = 'general-img-landscape_e7ncfk9q9475.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_is9lwg41fvhu.png' WHERE main_image = 'general-img-landscape_is9lwg41fvhu.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_is9lwg41fvhu.png' WHERE sub_image_1 = 'general-img-landscape_is9lwg41fvhu.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_is9lwg41fvhu.png' WHERE sub_image_2 = 'general-img-landscape_is9lwg41fvhu.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/general-img-landscape_is9lwg41fvhu.png' WHERE sub_image_3 = 'general-img-landscape_is9lwg41fvhu.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20214623.jpg' WHERE main_image = 'Screenshot 2026-06-13 214623.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20214623.jpg' WHERE sub_image_1 = 'Screenshot 2026-06-13 214623.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20214623.jpg' WHERE sub_image_2 = 'Screenshot 2026-06-13 214623.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20214623.jpg' WHERE sub_image_3 = 'Screenshot 2026-06-13 214623.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20222449.jpg' WHERE main_image = 'Screenshot 2026-06-13 222449.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20222449.jpg' WHERE sub_image_1 = 'Screenshot 2026-06-13 222449.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20222449.jpg' WHERE sub_image_2 = 'Screenshot 2026-06-13 222449.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/Screenshot%202026-06-13%20222449.jpg' WHERE sub_image_3 = 'Screenshot 2026-06-13 222449.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/smikky.jpg' WHERE main_image = 'smikky.jpg';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/smikky.jpg' WHERE sub_image_1 = 'smikky.jpg';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/smikky.jpg' WHERE sub_image_2 = 'smikky.jpg';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/smikky.jpg' WHERE sub_image_3 = 'smikky.jpg';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream.png' WHERE main_image = 'stream.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream.png' WHERE sub_image_1 = 'stream.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream.png' WHERE sub_image_2 = 'stream.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream.png' WHERE sub_image_3 = 'stream.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream_pu0q412titg5.png' WHERE main_image = 'stream_pu0q412titg5.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream_pu0q412titg5.png' WHERE sub_image_1 = 'stream_pu0q412titg5.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream_pu0q412titg5.png' WHERE sub_image_2 = 'stream_pu0q412titg5.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/stream_pu0q412titg5.png' WHERE sub_image_3 = 'stream_pu0q412titg5.png';
UPDATE projects SET main_image = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/visiba-care.png' WHERE main_image = 'visiba-care.png';
UPDATE projects SET sub_image_1 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/visiba-care.png' WHERE sub_image_1 = 'visiba-care.png';
UPDATE projects SET sub_image_2 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/visiba-care.png' WHERE sub_image_2 = 'visiba-care.png';
UPDATE projects SET sub_image_3 = 'https://zkmjyzrnguqhywj1.public.blob.vercel-storage.com/projects/visiba-care.png' WHERE sub_image_3 = 'visiba-care.png';
